<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
   <p><%= notice %></p>
   <h1>Instagram</h1>
     <%= link_to "投稿", new_blog_path %>
   <% @blogs.each do |blog| %>
   <div class="row">
     <p><%= blog.user.name %></p>
     <p><%= profile_img(blog.user) %></p>
     <p>本文:<%= blog.content %></p>
     <p>写真:<%= image_tag(blog.photo_image) %></p>
     <%= link_to "編集", edit_blog_path(blog.id) %>
     <%= link_to '削除', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？' }  %>
   </div>
   <% end %>
  </div>
</div>
